<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="video_mush_gui_new.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <video_mush_gui_new.Properties.Settings>
            <setting name="showGUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showSIM2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="testcard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cameraRadio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mergeRadio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iso1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iso2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iso3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iso4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exposure" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gammacorrect" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cellBorders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cellCenters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fillCells" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uniqueness" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="distribution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saliency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="waveformRadio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inputMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="processMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="outputMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="func" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useLegacyPQ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bitDepth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="openclCPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bilateralMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="catchExceptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wbBlue" serializeAs="String">
                <value />
            </setting>
            <setting name="wbRed" serializeAs="String">
                <value />
            </setting>
            <setting name="blackPoint" serializeAs="String">
                <value />
            </setting>
            <setting name="clamp" serializeAs="String">
                <value />
            </setting>
            <setting name="fps" serializeAs="String">
                <value />
            </setting>
            <setting name="crf" serializeAs="String">
                <value />
            </setting>
            <setting name="resizeInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resizeOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inputWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="inputHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="outputWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="outputHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="genericIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textBox" serializeAs="String">
                <value />
            </setting>
            <setting name="inputTransfer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="loopCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="videoLoopCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parIterations" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="parWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="parHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="parCount" serializeAs="String">
                <value />
            </setting>
            <setting name="parOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="parGL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parSpeed" serializeAs="String">
                <value />
            </setting>
            <setting name="amdWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="amdHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="amdShadowRays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="amdAORays" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="amdBounces" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="amdSamples" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="amdAORadius" serializeAs="String">
                <value>7.0</value>
            </setting>
            <setting name="amdSensorSize" serializeAs="String">
                <value>0.036</value>
            </setting>
            <setting name="amdFocalLength" serializeAs="String">
                <value>0.018</value>
            </setting>
            <setting name="amdFocusDistance" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="amdAperture" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="amdEnableAO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="amdProgressive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="amdShareOpenCL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="amdCameraType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imageOutputType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="amdModelScale" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="amdEnvMapScale" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="parAutoCam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parSponza" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="parSibenik" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parOffice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parKitchen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parCameraTypeBox" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="parCores" serializeAs="String">
                <value />
            </setting>
            <setting name="parCoresChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lockInputFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inputFPS" serializeAs="String">
                <value />
            </setting>
            <setting name="imageFPS" serializeAs="String">
                <value />
            </setting>
            <setting name="parJustMetadata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parGLWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="parGLHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="parCameraX" serializeAs="String">
                <value />
            </setting>
            <setting name="parCameraY" serializeAs="String">
                <value />
            </setting>
            <setting name="parCameraZ" serializeAs="String">
                <value />
            </setting>
            <setting name="parCameraTheta" serializeAs="String">
                <value />
            </setting>
            <setting name="parCameraPhi" serializeAs="String">
                <value />
            </setting>
            <setting name="parCameraFov" serializeAs="String">
                <value />
            </setting>
            <setting name="parSecondCameraX" serializeAs="String">
                <value />
            </setting>
            <setting name="parSecondCameraY" serializeAs="String">
                <value />
            </setting>
            <setting name="parSecondCameraZ" serializeAs="String">
                <value />
            </setting>
            <setting name="parSecondCameraTheta" serializeAs="String">
                <value />
            </setting>
            <setting name="parSecondCameraPhi" serializeAs="String">
                <value />
            </setting>
            <setting name="parSecondCameraFov" serializeAs="String">
                <value />
            </setting>
            <setting name="parCameraSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parCameraSecond" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parCameraSecondJustMetadata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parLowMem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parCameraSecondStereo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parOculusCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="par360Viewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parFinalSnapshot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="amdStereoDisplace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="amdPathQuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="amdMaxFrames" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exrCountOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="amdMultiDraw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="genericCameraWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="genericCameraHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="genericCameraSpeed" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="genericCameraFov" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="genericAutoCam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="genericDisplayPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="preProcessingTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="parMushModel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="genericModelScale" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="genericCameraX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="genericCameraY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="genericCameraZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="genericCameraTheta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="genericCameraPhi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="parFourOutputs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parFlipNormals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="genericStereo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="genericSpherical" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reprojFollow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reprojCamera" serializeAs="String">
                <value>0</value>
            </setting>
        </video_mush_gui_new.Properties.Settings>
    </userSettings>
</configuration>
